# 이 워크플로우는 도커 컨테이너를 구축하여 Google 컨테이너에 게시합니다
# "메인"에 푸시가 있을 때 GKE에 등록하고 배포합니다
# 지점.
#
# 이 워크플로우를 구성하려면:
#
# 1. 다음 Google 클라우드 API를 활성화합니다:
#
# - 아티팩트 레지스트리(artifactregistry.googleapis.com )
# - Google Kubernetes 엔진 (container.googleapis.com )
# - IAM 자격 증명 API (iamcredentials.googleapis.com )
#
# API 활성화에 대한 자세한 내용은 다음에서 확인할 수 있습니다
# https://support.google.com/googleapi/answer/6158841 .
#
# 2. 리포지토리에 필요한 구성이 포함되어 있는지 확인합니다
# 배포.yml을 포함한 Google Kubernetes 엔진 클러스터,
# 맞춤 설정.yml, 서비스.yml 등.
#
# 3. GitHub용 워크로드 ID 제공업체를 생성하고 구성합니다:
# https://github.com/google-github-actions/auth#preferred-direct-workload-identity-federation .
#
# 인증 방법에 따라 IAM 주체를 부여해야 합니다
# Google 클라우드에 대한 권한:
#
# - 아티팩트 레지스트리 관리자(역할/artifactregistry.admin)
# - 쿠버네티스 엔진 개발자(역할/컨테이너.개발자)
#
# 다음에서 IAM 권한 설정에 대해 자세히 알아볼 수 있습니다
# https://cloud.google.com/iam/docs/manage-access-other-resources
#
# 5. "env" 블록의 값을 자신의 값에 맞게 변경합니다.

이름: 'GKE에 구축 및 배포'

온:
  push:
    branches:
      - '"main"'

env:
  PROJECT_ID: 'my-project' # TODO: update to your Google Cloud project ID
  GAR_LOCATION: 'us-central1' # TODO: update to your region
  GKE_CLUSTER: 'cluster-1' # TODO: update to your cluster name
  GKE_ZONE: 'us-central1-c' # TODO: update to your cluster zone
  DEPLOYMENT_NAME: 'gke-test' # TODO: update to your deployment name
  REPOSITORY: 'samples' # TODO: update to your Artifact Registry docker repository name
  IMAGE: 'static-site'
  WORKLOAD_IDENTITY_PROVIDER: 'projects/123456789/locations/global/workloadIdentityPools/my-pool/providers/my-provider' # TODO: update to your workload identity provider

jobs:
  setup-build-publish-deploy:
    name: 'Setup, Build, Publish, and Deploy'
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4

      # Configure Workload Identity Federation and generate an access token.
      #
      # See https://github.com/google-github-actions/auth for more options,
      # including authenticating via a JSON credentials file.
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@f112390a2df9932162083945e46d439060d66ec2' # google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ env.WORKLOAD_IDENTITY_PROVIDER }}'

      # Authenticate Docker to Google Cloud Artifact Registry
      - name: 'Docker Auth'
        uses: 'docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567' # docker/login-action@v3
        with:
          username: 'oauth2accesstoken'
          password: '${{ steps.auth.outputs.auth_token }}'
          registry: '${{ env.GAR_LOCATION }}-docker.pkg.dev'

      # Get the GKE credentials so we can deploy to the cluster
      - name: 'Set up GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@6051de21ad50fbb1767bc93c11357a49082ad116' # google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          location: '${{ env.GKE_ZONE }}'

      # Build the Docker image
      - name: 'Build and push Docker container'
        run: |-
          DOCKER_TAG="${GAR_LOCATION}-docker.pkg.dev/${PROJECT_ID}/${REPOSITORY}/${IMAGE}:${GITHUB_SHA}"

          docker build \
            --tag "${DOCKER_TAG}" \
            --build-arg GITHUB_SHA="${GITHUB_SHA}" \
            --build-arg GITHUB_REF="${GITHUB_REF}" \
            .

          docker push "${DOCKER_TAG}"

      # Set up kustomize
      - name: 'Set up Kustomize'
        run: |-
          curl -sfLo kustomize https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv5.4.3/kustomize_v5.4.3_linux_amd64.tar.gz
          chmod u+x ./kustomize

      # Deploy the Docker image to the GKE cluster
      - name: 'Deploy to GKE'
        run: |-
          # replacing the image name in the k8s template
          ./kustomize edit set image LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY/IMAGE:TAG=$GAR_LOCATION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:$GITHUB_SHA
          ./kustomize build . | kubectl apply -f -
          kubectl rollout status deployment/$DEPLOYMENT_NAME
          kubectl get services -o wide
